body{
    background-image: url("../img/fondo3.png!d");
    padding: 15px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}

/*Tamaño slide portada*/
.slide-portada{
    height: 370px;
    width: 100%;
}

/*Tamaño slide servicios*/
.slide-servicios{
    height: 400px;
    width: 100%;
}

/*index html*/
/*card de productos
boton y resaltar precios con b y paginador*/
.btn{
    font-size: larger;
}

b{
    font-size: x-large;
    font-weight: bold;
    color: blanchedalmond;
}

/*tarjeta*/
.tarjeta{
    width: 22rem;
    
}

.navegacion {
    text-align: center;
    margin-top: 35px;
}

.navegacion a{
    font-size: larger;
    color: blanchedalmond;
    background-color: rgb(36, 35, 35);
    border-radius: 1px;
    border-color: blanchedalmond;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}


/*Boton de ir arriba*/
#button-up{
    width: 60px;
    height: 60px;
    background: #ee0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
}

#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0,0,0,0.1);
}

/*cuadro del footer*/
footer iframe{
    width: 100%;
    height: 72px;
}

/*navbar htlm*/
nav{
    width: 100%;
    height: 126px;
    font-size: larger;
}

.body{
    background: none;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
}


/*cuadro del navbar*/
nav iframe{
    width: 100%;
    border: none;
    
}

/*cambio color font en titulos servicios y contacto*/
.letra-blanca{
    color: blanchedalmond;
    text-align: center;
}

/* iframe mapa*/
.mapa{
    display: flex;
    
}
